@model IEnumerable<TweeterApp.Models.ViewModels.PostViewModel>
<h2>Posts</h2>
<a asp-action="Create" class="btn btn-primary">Create post</a>
@foreach (var post in Model)
{
    <div class="post">
        <h4>@post.Post.Title</h4>
        <p>@post.Post.Content</p>
        <p>
            Author:
            <a asp-controller="Follow" asp-action="Index" asp-route-userId="@post.Post.UserId">@post.Post.User.UserName</a>
        </p>
        <p>Likes: @post.LikeCount</p>

        <form action="/Like/@(post.IsLikedByCurrentUser ? "UnlikePost" : "LikePost")" method="post" style="display:inline">
            <input type="hidden" name="PostId" value="@post.Post.Id" />
            <button type="submit" class="btn btn-sm"> @(post.IsLikedByCurrentUser ? "btn-danger" : "btn-outline-danger")">@(post.IsLikedByCurrentUser ? "Unlike" : "Like")</button>
        </form>
        <a asp-action="Edit" asp-route-id="@post.Post.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@post.Post.Id">Delete</a>
    </div>
    }